.green {background-color:green;max-width:74px;height:17px;margin:4px}

.red {background-color:red;max-width:74px;height:17px;margin:4px}

.yellow {background-color:yellow;max-width:74px;height:17px;margin:4px}

.grey {background-color:grey;max-width:74px;height:17px;margin:4px}

.project {border:solid black 2px;margin:20px}

.name {margin:10px;}

/*.spacer {height:23px}*/

a:link {color:black}

a:visited {color:black}
